<?xml version="1.0" ?>
<robot name="dvrk_psm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model)/model/psm.urdf.xacro"/>

  <link name="world"/>
  <xacro:psm_caudier 
      prefix="two_"
      parent_link="world"
      xyz="0.618 1.902 0.5" rpy="0.0 0.0 2.4434"/>
  
</robot>
